:root {
    --base-font-size: .725em;
    --base-line-height: 1.5;
    --header-line-height: 1.25;
    --text-primary: white;
    --text-secondary: #c8c8c8;
    --bg-primary: #0d1116;
    --bg-secondary: #181c25;
    --bg-tertiary: #080b0f;
}

body {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: white;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

main {
    margin-left: 5rem;
    margin-right: 1rem;
    line-height: 1.6;
    padding: 1rem;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.nav-link svg {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--text-secondary);
}

.nav-link:hover {
    color: var(--text-primary);
}

.nav-link:hover .svg {
    fill: var(--text-primary);
}

.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-item:first-child {
    margin-top: 0;
}

.nav-item {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0.13rem;
    margin-right: 0.13rem;
}

.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 0;
}

.nav-item:hover {
    background-color: var(--bg-tertiary);
}

.nav-link {
    color: var(--text-secondary);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.topbar {
    position: fixed;
    background-color: var(--bg-secondary);
}

.topbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.top-item .nav-link{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.top-item:first-child {
    margin-right: auto;
}

.top-item:last-child {
    margin-left: auto;
}

.top-item:hover {
    background-color: var(--bg-tertiary);
}

@media only screen and (max-width: 748px), (max-height: 398px) {
    main {
        margin: 0;
        padding: 3.5rem;
    }
    .navbar {
        padding: 0;
        width: 100vw;
        height: 4rem;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .nav-item {
        justify-content: center;
        align-items: center;
        margin: 0 !important;
        border: 0;
    }
    .sidebar-settings {
        display: none;
    }
}

@media only screen and (min-width: 749px) and (min-height: 399px) {
    .topbar {
        display: none;
    }
}