:root {
    --base-font-size: .8em;
    --base-line-height: 1.5;
    --header-line-height: 1.25;
    --text-primary: white;
    --text-secondary: #c8c8c8;
    --bg-primary: #0c1118;
    --bg-secondary: #191e29;
    --bg-tertiary: #55678a;
    --transition-speed: 100ms;
    --bp-small: 48em;
    --bp-medium: 64em;
    --bp-large: 85.375em;
    --bp-xlarge: 120em;
    --bp-xxlarge: 160em;
}

body {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: white;
    font-family: "Helvetica", sans-serif;
    text-decoration: none;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

main {
    margin-left: 5rem;
    margin-right: 1rem;
    line-height: 1.6;
    padding: 1rem;
}

a {
    -webkit-tap-highlight-color: transparent;
}

.nav-link svg {
    width: 2.0rem;
    height: 2.0rem;
    fill: var(--text-secondary);
}

.nav-link:hover {
    color: var(--text-primary);
}

.nav-link .svg {
    transition: calc(var(--transition-speed) + 50ms);
}

.nav-link:hover .svg {
    fill: var(--text-primary);
}

.navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-item:first-child {
    margin-top: 1rem;
}

.nav-item {
    width: 100%;
    margin-bottom: 3rem;
}

.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 1rem;
}

.nav-link {
    color: var(--text-secondary);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: calc(var(--transition-speed) + 100ms);
}

.topbar {
    position: fixed;
    background-color: var(--bg-secondary);
    padding: 0;
    top: 0;
}

.topbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.top-item:first-child {
    margin-left: 1rem;
    margin-right: auto;
}

.top-item:last-child {
    margin-left: auto;
    margin-right: 1rem;
}

@media only screen and (max-width: 748px), (max-height: 368px) {
    main {
        margin: 0;
        padding: 3.5rem;
    }
    .navbar {
        padding: 0;
        width: 100vw;
        height: 4rem;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .nav-item {
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }
    .sidebar-settings {
        display: none;
    }
}

@media only screen and (min-width: 749px) and (min-height: 369px) {
    .topbar {
        display: none;
    }
}

/* @media only screen and (min-device-width: var(--bp-medium)) {
    body {
        font-size: calc(var(--base-font-size) * 1.2);
        line-height: calc(var(--base-line-height) * 1.2);
    }
}

@media only screen and (min-device-width: var(--bp-large)) {
    body {
        font-size: calc(var(--base-font-size) * 1.3);
    }
}

@media only screen and (min-device-width: var(--bp-xlarge)) {
    body {
        font-size: calc(var(--base-font-size) * 1.4);
    }
}

@media only screen and (min-device-width: var(--bp-xxlarge)) {
    body {
        font-size: calc(var(--base-font-size) * 1.6);
    }
} */